:root {
	/*--tabs-background: #ec5050;
	--button-background: #f08080;*/
	--tabs-background: #bbbbbb;
	--button-background: #999999;
}

/* * {
	font-size: 16;
}*/

#table {
	font-size: 20;
}

.tabs_div {
	border-bottom: solid var(--tabs-background);
	width: fit-content;
}

.tabbutton {
	background-color: var(--button-background);
	height: 4%;
	font-size: 18;
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
	border: solid var(--tabs-background);
	border-width: 3px;
	border-bottom: 0px;
}

#blocked_websites_table *, #blocked_websites_table {
	border: 4px solid var(--button-background);
	border-collapse: collapse;
	text-align: center;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
}

.tabbutton.active {
	background-color: var(--tabs-background);
}

.hidden_tab, .visible_tab {
	/*border: 2px solid #f08080be;*/
	/*border: solid #f08080;*/
	border: solid var(--tabs-background);
	background-color: var(--tabs-background);
	text-align: center;
}

.hidden_tab {
	display: none;
}