body {
    background-color: #2e3440;
    margin: 1vw;
    user-select: none;
}

* {
    color: #eceff4;
    font-size: 1.7vw;
}

#block_button {
    cursor: pointer;
	border: 0.15vw solid #eceff4;
	width: 14vw;
    padding: 0.3vw;
    margin: 1vw auto;
	border-radius: 0.37vw;
	background-color: #434c5e;
}



#input_result {
	/*text-align: left;*/
}

#url_input {
	width: 30%;
    text-align: center;
	padding: .5% .5%;
	box-sizing: border-box;
    background-color: #3b4252;
    outline: none;
    border: 0.15vw solid #eceff4;
    border-radius: 0.37vw;
}

#table {
	
}

.tabs_div {
	width: fit-content;
}

.tabbutton {
    cursor: pointer;
    display: inline-block;
    padding: 0.37vw;
	height: 2.2vw;
	border-top-left-radius: 0.37vw;
	border-top-right-radius: 0.37vw;
	border: 0.15vw solid #eceff4;
	border-bottom: 0px;
    margin-right: 0.37vw;
}

#blocked_websites_table {

}

#blocked_websites_table *, #blocked_websites_table {
	border: 0.3vw solid #3b4252;
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.tabbutton.active {
	background-color: #3b4252;
}

.hidden_tab, .visible_tab {
	/*border: 2px solid #f08080be;*/
	/*border: solid #f08080;*/
	border: 0.15vw solid #eceff4;
	text-align: center;
}

.hidden_tab {
	display: none;
}

.unblock {
    background-color: #3b4252;
}

td {
    padding: 0px;
}

footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	text-align: center;
	font-size: 1.1vw;
}

footer * {
	font-size: 1.2vw;
}